.text_area_container{
    margin: 20px;
    width: 90%;
}

.text_area_container label {
    display: block;
    font-size: 25px;
    color: #000;
}

.text_area_container textarea{
    width: 90%;
    height: 100px;
    margin: 5px;
    padding: 3px 5px;
    border: none;
    background-color: #fcfcf3;
    border-bottom: 2px solid #212121;
    font-family: 'Baskervville', serif;
    font-size: 17px;
}

.text_area_container textarea:focus {
    outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.error {
    margin: 0px;
    margin-left: 10px;
    font-size: 20px;
    color: #ff0303;
    width: 250px;
}

.text_area_error {
    border: 3px solid #ff0303;
}
