.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcfcf3;
    margin-top: 50px;
    width: 100%;
    min-height: 100vh;
}

.container h2 {
    margin-top: 100px;
    width: 80%;
    font-family: 'Baskervville', serif;
    font-size: 60px;
    text-align: center;
    font-weight: 400;
}

.product_img {
    width: 90%;
    height: 350px;
}

.product_img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.product_description {
    width: 80%;
}

.product_description p, .product_price {
    font-family: 'Baskervville', serif;
    font-size: 20px;
}

.product_price span {
    font-weight: 900;
}

