
.form_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    background-color: #aace9b1a;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.close {
    align-self: flex-end;
    margin: 10px;
    width: 30px;
    height: 30px;
    background-color: #F33413;
    border: none;
    border-radius: 50%;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.upload_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: auto;
}

.image_container {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
    margin: 10px;
}

.image_container img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.image_container i, .remove_image_spinner {
    position: absolute;
    top: -12px;
    left: -12px;
    font-size: 20px;
    cursor: pointer;
}

.image_container i:hover {
    color: orange;
}

.modal_text {
    font-size: 20px;
    font-family: 'Baskervville', serif;
}